#application_checkbox
{
	
}

#application_phone_number_field
{
	
}

#teacher_guidelines_anchor
{
	cursor: pointer;
	color: blue;
}

#teacher_guidelines_modal
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 40%;
	height: 60%;
	margin-left: 30%;
	margin-top: 5rem;
	overflow: auto;
	background-color: white;
	padding: 3rem;
	border-radius: 3px;
	border: 1px solid black;
}

#teacher_guidelines_modal li
{
	margin-bottom: 1rem;
}

#teacher_guidelines_modal_content
{
	background-color: white;
	padding: 1rem;
	border: 1px solid black;
	width: 100%;
}

#teacher_guidelines_modal_close_button
{
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#teacher_guidelines_modal_close_button:hover,
#teacher_guidelines_modal_close_button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#application_form
{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 10em;
}

#team_blurb
{
	margin-left: 30%;
	width: 40%;
	margin-bottom: 5rem;
}

#registration_form_submit
{
    border: none;
    background-color: black;
	color: white;
    padding: 10px;
	border-radius: 3px;
	font-weight: bold;
	cursor: pointer;
}

#application_form_insturment_drop_down
{
    width: 100%;
    padding: 10px 14px;
    background-color: #E0E0E0;
}

#application_form_where_drop_down
{
    width: 100%;
    padding: 10px 14px;
    background-color: #E0E0E0;
}

#registration_loading_text
{
    display: none;
    color: red;
}

.wide_input_field
{
    width: 100%;
    border-radius: 0px;
    border: none;
    padding: 10px 14px;
    background-color: #E0E0E0;
}

.short_input_field
{
	width: 100%
	border-radius: 0px;
	border: none;
	padding: 10px 14px;
	background-color: #E0E0E0;
}

.large_input_field
{
    width: 100%;
    height: 200;
    border-radius: 0px;
    border: none;
    padding: 10px 14px;
    background-color: #E0E0E0;
}