#footer_unordered_list
{
    float: right;
    list-style: none;
    margin-right: 20%;
}

#footer_unordered_list li
{
    display: inline-block;
    padding-left: 2em;
}

#footer_unordered_list li a
{
    color: white;
}

.logo
{
    padding-top: 1em;
    padding-bottom: 1em;
    float: left;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.logo:hover
{
    transform: scale(1.15);
}

#footer
{
    background-color: skyblue;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    border: 2px black solid;
}

#secondary_title
{
    font-weight: bolder;
    text-align: center;
    padding-top: 5em;
    padding-bottom: 1em;
    font-size: 2em;
}

#wrapper
{
    min-width: 1280px;
    max-width: 1920px;
}

.title
{
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

a
{
    text-decoration: none;
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

html
{
    background-color: #F2F2F2;
}

*
{
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: black;
}
