#cello_image
{
    width: 45em;
    transition: width 2s;
}

#main_page_mission
{
    margin-top: 2em;
    margin-left: 5.25em;
    font-size: 4em;
    margin-bottom: 1.5em;
}

#main_page_mission span
{
    font-size: 0.5em;
}

#navigation_right
{
    float: right;
}

#navigation_right ul li
{
    padding-top: 24%;
}

.background_image
{
    float: right;
    display: block;
    height: 0em;
}

.primary_button
{
    margin-top: 1em;
    display: block;
    background: palevioletred;
    padding: 0.5em;
    width: 3.25em;
    font-size: 0.5em;
    color: white;
    transition: transform 0.5s;
}

.primary_button:hover
{
    transform:scale(1.15);
}

.primary_button span
{
    font-weight: bold;
}

.navbar
{
    width: 60%;
    margin: 0 auto;
}

.nav_divider
{
    background: black;
}

.logo
{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}

a
{
    text-decoration: none;
}

body
{

}

header
{
    
}

header::after
{
    content: '';
    display: table;
    clear: both;
}

footer
{
    width: 60%;
}

nav
{
    float: left;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    padding-top: 8%;
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

nav a
{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
}

nav a:hover
{
    color: black;
}

p
{
    width: 60%;
    margin: auto;
}

*
{
    font-family: 'Open Sans';
    padding: 0;
    margin: 0;
    font-size: 18px;
}